DATABASE_URL="file:/var/www/minitickets/data/dev.db"
PORT=3010
APP_URL="https://minitickets.iandorsey.com"
MAIL_FROM="MiniTickets <noreply@minitickets.iandorsey.com>"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE="false"
