APP_DOMAIN=minitickets.iandorsey.com
APP_DIR=/var/www/minitickets/app
APP_USER=www-data
APP_GROUP=www-data
APP_PORT=3010
ENV_FILE=/var/www/minitickets/.env.production
NODE_BIN_DIR=/opt/homebrew/opt/node@24/bin
SERVICE_NAME=minitickets
CLIENT_MAX_BODY_SIZE=20M
